extends layouts/dashboard.pug

block head
  - const pageTitle = 'CMS - Coming Soon';

block content
  .coming-soon
    h1.coming-soon__heading Coming Soon
    a.coming-soon__btn-back(href='/') Go back
