.dashboard {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .dashboard-content {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;

    @include media("lg") {
      padding-top: 80px;
    }
  }
}
